
        
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* body {
    margin: 0;
    padding: 0;
} */
.cnt1 {
    align-items: center;
    margin: 350px;
}
.container {
     width: 800px; 
     height: 1000px;
    position: relative;
    background-image: url(../images/lightimage.jpg);
    

    
    /* align-items: center; */ 
 

}
.inner {
    
     display: flex;
     position: static;
     
    
}
.a {
    text-align: center;
    color: red;
    padding-top: 50px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    position: static;
    
    
}

.b {
    text-align: center;
    justify-content: center;
    padding-top: 0px; 
    padding-right: 10px;
    padding-left: 10px;
    color: blue; 
    margin: 0;
    position: static;
    /* padding-bottom: 45px; */
    /* padding-right: 45px;  */
    
}
.c {
    padding-top: 0px; 
     padding-left: 8px; 
     /* padding-right: 29px; */
     margin-top: 5px;
     text-align: center; 
     justify-content: center;
     color: red; 
     margin: 0;
     position: static;

}
.d {
    color: green;
    /* text-align: center; */
     padding-left: 220px;
     padding-right: 220px; 
    font-family: 'Jacques Francois Shadow', cursive;
    text-align: center; 
    justify-content: center; 
    position: static;
    
}
.e {
    color: green;
     padding-left: 350px;

    padding-right: 350px; 
     
    font-family: 'Jacques Francois Shadow', cursive;
    text-align: center; 
    justify-content: center; 
    position: static;

}
.f {
    color: green;
    padding-left: 226px;
    padding-right:226px ;
    
    font-family: 'Jacques Francois Shadow', cursive;
    text-align: center; 
     justify-content: center;
     position: static;
}
.g {
    color: rgb(5, 5, 68);
    text-align: center; 
    justify-content: center;
    padding-right:90px;
    padding-left:90px ;
    margin: 0;
    position: static;
}
.h {
    color:rgb(155, 18, 18);
    text-align: center; 
     justify-content: center;
    padding-right: 87px;
    padding-left: 87px;
    margin: 0px;
    position: static;
}
.j {
    color: blue;
    text-align:center;
    /* justify-content: center; */
    padding-right: 86px;
    padding-left: 86px;
    margin: 0;
    position: static;
}
.k {
    color: red;
    text-align: center; 
    justify-content: center;
    font-family: 'Parisienne', cursive;
    padding-right: 55px;
    padding-left: 55px;
    position: static;
}
.l {
    color: rgb(4, 4, 75);
     text-align: center; 
     justify-content: center;
    padding-right: 70px;
    padding-left: 70px;
    position: static;
}
.m {
    color: red;
    display: flex;
    position: static;
    
    
}
 .o {
    padding-left: 50%;
    margin:0;
    /* font-size: 20px; */
    /* position: fixed; */
}
.n {
    padding-left: 45px;
    margin:0;
/* font-size: 20px; */
    /* position: fixed; */
    text-align: justify;
    text-align: center;
    
    
}
.p {
    color: rgb(5, 5, 63);
    display: flex;
    position: relative;
    text-align: justify;
    text-align: center;
    /* justify-content: center; */
}


.j span {
    color: rgb(11, 11, 87);
    position: static;
}
 .q {
     padding-left: 50px;
     margin:0;
     font-size: 15px;
     position: static;

}
.r {
    padding-left: 69%;
    margin: 0;
    font-size: 15px;
    position: static;
}



    


